h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #EEF0F5;
}

.menu {
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content {
    width: 100%;
    background-color: #EEF0F5;
}

.menu__header header {
    display: flex;
    height: 64px;
    margin-bottom: 6px; 
    margin-left: 22px;
}

.menu__header header p {
    color: #3D4150;
    font-weight: 600;
    font-size: 20px;
    margin-top: 18px;
    margin-left: 12px;
    font-family: 'Sora', sans-serif;
}

.menu__header header img {
    width: 32px;
}

.ul-menu {
    list-style: none;
    margin-left: 22px;
}

.ul-menu li a {
    color: #393939;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.disable__link {
    opacity: 0.65;
}


.ul-menu li {
    width: 242px;
    height: 42px;
}

.ul-menu li a img {
    margin-right: 10px;
}

.menu__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 260px;
    margin-bottom: 28px;
}

.menu__footer div:nth-child(1) {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.menu__footer p {
    font-weight: 600;
    font-size: 16px; 
    color: #3A3541DE;
    font-family: 'Inter', sans-serif;
}

.menu__footer p:nth-child(1) {
    background: linear-gradient(71.57deg, rgba(253, 92, 131, 0.16) 0.98%, rgba(246, 162, 95, 0.16) 100%);
    border: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FD5C83;
    border-radius: 10px;
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

.container {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 23px;
}

.content .container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
}

.content .container header img {
    width: 32px;
    margin-right: 10px;
}

.content .container header a img {
    width: 21px;
}

.content .container header h1 {
    margin-right: 10px;
    color: #3A3541;
    font-family: 'Inter', sans-serif;
}

.content .container header p {
    color: #393939;
    width: 83px;
    height: 24px;
    background-color: #EEFFFF;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.header-div {
    display: flex;
    align-items: center;
}

.all-content {
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
    border-radius: 1%;
}