h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #EEF0F5;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #EEF0F5;
}

.menu {
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content {
    width: 100%;
    background-color: #EEF0F5;
    display: flex;
    justify-content: center;
}

.menu__header header {
    display: flex;
    height: 64px;
    margin-bottom: 6px; 
    margin-left: 22px;
}

.menu__header header p {
    color: #3D4150;
    font-weight: 500;
    font-size: 20px;
    margin-top: 18px;
    margin-left: 12px;
    font-family: 'Sora', sans-serif;
}

.menu__header header img {
    width: 32px;
}

.ul-menu {
    list-style: none;
    margin-left: 22px;
}

.ul-menu li a {
    color: #393939;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.disable__link {
    opacity: 0.65;
}


.ul-menu a {
    height: 42px;
}

.ul-menu li a img {
    margin-right: 10px;
}

.menu__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    margin-bottom: 28px;
}

.menu__footer div:nth-child(1) {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.menu__footer p {
    font-weight: 600;
    font-size: 16px; 
    color: #3A3541DE;
    font-family: 'Inter', sans-serif;
}

.menu__footer p:nth-child(1) {
    background: linear-gradient(71.57deg, rgba(253, 92, 131, 0.16) 0.98%, rgba(246, 162, 95, 0.16) 100%);
    border: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FD5C83;
    border-radius: 10px;
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

.container {
    padding-left: 24px;
    padding-right: 23px;
    width: 1180px;
}

.left__post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
}

.header-div img {
    width: 32px;
    margin-right: 10px;
}

.header-div a img {
    width: 32px;
}

.header-div h4 {
    margin-right: 10px;
    color: #3A3541;
    font-family: 'Inter', sans-serif;
}

.header-div p {
    color: #393939;
    width: 83px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.header-div {
    display: flex;
    align-items: center;
}

.page__block {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.page {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}

.page__block:last-child {
    width: 80%;
    margin-left: 24px;
}

.post__toaster {
    background: rgba(255, 76, 81, 0.1);
    width: 66px;
    height: 26px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #FF4C51;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.post__true {
    background: rgba(115, 177, 255, 0.1);
    color: #73B1FF;
}

.post__really {
    background: rgba(255, 180, 0, 0.1);
    color: #FFB400;
}

.post__label {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #000; 
    opacity: 0.2;
}

.post__header {
    display: flex;
    align-items: center;
    height: 58px;
    background: #FFFFFF;
}

.post__header div {
    width: 5px;
    height: 5px;
    background: #000;
    opacity: 0.2;
    border-radius: 50%;
    margin-right: 8px;
}

.post {
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 21px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.youSaid {
    display: flex;
    height: 38px;
    align-items: center;
}

.owstr{
    width: 45px;
    height: 22px;
    color: #FF4C51;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid #FF4C51;
    margin-right: 8px;
    background: rgba(0, 0, 0, 0);
}

.true {
    margin-bottom: 12px;
    padding-left: 16px;
    border-radius: 12px;
}

.volume {
    border: none;
    background: rgba(0, 0, 0, 0);
}

.youSaid p {
    color: #3A3541;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-right: 8px;
}

.nowSay {
    display: flex;
    align-items: center;
    height: 44px;
}

.nowSay h3 {
    color: #3A3541;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 8px;
}

.nowSay button {
    width: 84px;
    height: 28px;
    background: #00B295;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
}

.nowSay button span {
    margin-right: 8px;
}

.missed {
    height: 38px;
    display: flex;
    align-items: center;
}

.missed p {
    font-family: 'Inter', sans-serif;
    color: #3A3541;
    font-size: 16px;
}

.p {
    font-family: 'Inter', sans-serif;
    color: #3A3541;
    font-size: 16px;
    margin-right: 8px;
}

.missed span {
    margin-right: 8px;
    color: #FF4C51;
}

.bring {
    height: 60px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.bring p {
    font-size: 16px;
    color: #3A3541;
    font-family: 'Inter', sans-serif;
}

.stick {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
}

.stick span {
    height: 1px;
    width: 100%;
    background: #ECECEC;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.gotIt {
    margin-right: 16px;
    height: 32px;
    width: 97px;
    background: linear-gradient(71.57deg, #FD5C83 0.98%, #F6A25F 100%);
    border-radius: 35px;
    color: #FFFFFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.gotIt__container {
    display: flex;
    align-items: center;
}

.report__issue__button {
    display: flex;
    height: 18px;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #3A3541;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.flag {
    margin-right: 4px;
}

.selector {
    width: 118px;
    height: 20px;
    border: none;
    color: #3A3541;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.cues__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    font-family: 'Inter', sans-serif;
}

.cues__container div {
    width: 40%;
    height: 1px;
    background: #CCCCCC;
}

.cues__container p {
    color: #3A3541;
    opacity: 0.5;
    font-size: 11px;
    margin-left: 12px;
    margin-right: 12px;
}

.really__footer {
    margin-top: 18px;
}

.post__really__footer {
    display: flex;
}

.mobile-header {
    display: none;
    justify-content: space-between;
    height: 54px;
    background-color: white;
}

.openMenu__container {
    display: flex;
    align-items: center;

}

.mobile__menu {
    display: flex;
    align-items: center;
}

.mobile__menu img {
    height: 32px;
}

.mobile-header p {
    color: #3D4150;
    font-weight: 500;
    font-size: 20px;
    margin-left: 12px;
    font-family: 'Sora', sans-serif;
}

.page__right__header {
    padding-left: 16px;
    padding-right: 16px;
}

.correctness {
    display: flex;
    align-items: center;
    height: 46px;
}

.correctness img {
    margin-right: 12px;
}

.correctness p {
    font-size: 14px;
    color: #3A3541;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.page__right__header {
    background-color: white;
    height: 190px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.01);
    border-radius: 12px;
    margin-bottom: 12px;
}

.page__right__body {
    height: 170px;
}

.pronunciation {
    height: 58px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding-left: 16px;
    padding-top: 14px;
    padding-right: 23px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
} 

.pronunciation h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #303030;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2px;
}

.pronunciation p {
    color: rgba(58, 53, 65, 0.68);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.pronunciation-right {
    margin-top: 10px;
}

.grammar {
    background-color: #F7F8FA;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grammar h4 {
    color: #303030;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.litleSlow {
    height: 38px;
}

.arrowBottom {
    transform: rotate(180deg);
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .container {
        width: 992px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .menu {
        display: none;
    }
    .page {
        flex-direction: column;
        height: auto;
    }
    .app {
        height: auto;
    }
    .mobile-header {
        display: flex;
    }
    .page__block:last-child {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .footer__content {
        justify-content: space-between;
        height: 80px;
        flex-direction: column;
        width: 100%;
        padding: 15px 0;
    }
    .gotIt__container {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 349px) {
    .post {
        padding-left: 8px;
        padding-right: 12px;
    }

    .container {
        padding-left: 5px;
        padding-right: 8px;
    }
}